section#education-section
  .content
    .container
      h2.header #{t("education.university_title")}
      .lead
        .main-section
          h3 #{t("education.university")}
          .description #{t("education.description")}
          span #{t("education.time")}

    .container
      h2.header #{t("education.languages_title")}
      .lead
        each language in t("education.languages") || []
          .mb-2
            h3 #{language.title}
            span #{language.summary}
